---
layout: 'base.html'
eleventyComputed:
    canonical: 'https://www.yucatankidsmx.org/{{ pageName }}'
    description: "{{ blogDescription }}"
    metaTitle: '{{ blogTitle }}'
    tagTitle: '{{ titleTag }}'
---

{% block preload %}
<link rel="preload" as="image" href="{{ image }}">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/KidsInClassUnicef.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/KidsInClassUnicef.jpeg">
        <img aria-hidden="true" decoding="async" src="/assets/images/KidsInClassUnicef.jpeg" alt="chalkboard background" width="400" height="662">
    </picture>
  </section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
<!--Main content -->
<div class="main-content">
    <!-- ============================================ -->
    <!--                  Blog Article                -->
    <!-- ============================================ -->

    <article class="blog-article">
    <!--Main Article Image-->
    <picture class="blog-mainImage">
        <img id="blog-image" src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async" />
    </picture>
    <!--Article Info-->
    <div class="article-group">
        <h1 class="blog-h1">{{ blogTitle }}</h1>
        <div class="blog-authorGroup">
        <!--Author Image-->
        <picture class="blog-author-img">
            <img
                src="/assets/images/logos/1MainLogoSOLIDBackg.png"
                alt="Yucatán Kids logo"
                width="32"
                height="32"
                decoding="async"
            />
        </picture>
        <span class="blog-author">{{ author }}</span>
        </div>
    </div>
    <section id="blog-content">
        {{ content | safe }}
    </section>
    </article>
    <!-- Modal for Main Blog Image -->
    <div id="modal-id" class="modal">
        <img class="modal-content" id="img01">
        <div id="modal-bottom">
            <div id="caption"></div>
            <span class="close">&times;</span>
        </div>
    </div>
</div>

<!-- End .main-content -->

<!-- ============================================ -->
<!--                   Sidebar                    -->
<!-- ============================================ -->

{% if 'en' in page.url %}
{% include 'featured-post.html' %}
{% else %}
{% include 'featured-post.es.html' %}
{% endif %}
</div>

<script defer src="/assets/js/modal.js"></script>
