<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logos/YucatanKidsLogoWhiteText.png" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li><h2>Información</h2></li>
                    <li><a href="/">Quienes Somos</a></li>
                    <li><a href="/what-we-do">Qué Hacemos</a></li>
                    <li><a href="/get-involved">Involucrarse</a></li>
                    <li><a href="/news-and-events">Medios y Eventos</a></li>
                </ul>
                <ul>
                    <li><h2>Apóyanos</h2></li>
                    <li><a href="https://yucatankidsmx.org/donate.html">Donar</a></li>
                    <li><a href="/volunteer-signup">Voluntario</a></li>
                    <li><a href="/get-involved/#social-media">Redes Sociales</a></li>
                </ul>
                <ul>
                    <li><h2>Contacto</h2></li>
                    <li><a href="/contact">Contáctenos</a></li>
                    <li><a href="mailto:janemallonee@gmail.com">Envíenos un Correo Electrónico</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="copyright"> © 2025 Yucatán Kids. Todos los derechos reservados.</span>
    </div>
</footer>
