<div class="blog-sidebar">
  <!--Featured-->
  <div class="blog-featured-group">
    <span class="blog-header">Featured</span>
    {%- for post in collections.featured | reverse -%}
    <a class="blog-feature" href="{{ post.url }}">
      <picture class="blog-featureImage">
        <img
          src="{{ post.data.image }}"
          alt="{{ post.data.imageAlt }}"
          width="60"
          height="60"
          decoding="async"
        />
      </picture>
      <div class="content-group">
        <h3 class="feature-h3">{{ post.data.blogTitle }}</h3>
        <span class="feature-date">{{ post.date | postDate }}</span>
      </div>
    </a>
    {%- endfor -%}
  </div>
  <!--Add anything else in the sidebar below-->
  <div >
    <span class="blog-header">Find Us On Facebook</span>
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyucatankidsmerida%2F%3Fref%3Dpage_internal&tabs=timeline&width=350&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
      width="350" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
</div>
