<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div id="english-footer">
        <div class="container">
            <div class="left-section">
                <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logos/YucatanKidsLogoWhiteText.png" alt="logo" width="264" height="78"></a>
            </div>
            <div class="right-section">
                <div class="lists">
                    <ul>
                        <li><h2>Information</h2></li>
                        <li><a href="/">Who We Are</a></li>
                        <li><a href="/en/what-we-do">What We Do</a></li>
                        <li><a href="/en/get-involved">Get Involved</a></li>
                        <li><a href="/en/news-and-events">Media & Events</a></li>
                    </ul>
                    <ul>
                        <li><h2>Support Us</h2></li>
                        <li><a href="https://yucatankidsmx.org/donate.html">Donate</a></li>
                        <li><a href="/en/volunteer-signup">Volunteer</a></li>
                        <li><a href="/en/get-involved/#social-media">Social Media</a></li>
                    </ul>
                    <ul>
                        <li><h2>Contact</h2></li>
                        <li><a href="/en/contact">Get In Touch</a></li>
                        <li><a href="mailto:janemallonee@gmail.com">Email Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="credit">
            <span class="copyright"> © 2025 Yucatán Kids. All rights reserved.</span>
        </div>
    </div>

    <div id="spanish-footer">
        <div class="container">
            <div class="left-section">
                <a class="logo" href="/es/"><img loading="lazy" decoding="async"
                        src="/assets/images/logos/YucatanKidsLogoWhiteText.png" alt="logo" width="264" height="78"></a>
            </div>
            <div class="right-section">
                <div class="lists">
                    <ul>
                        <li>
                            <h2>Información</h2>
                        </li>
                        <li><a href="/es/">Quiénes Somos</a></li>
                        <li><a href="/es/que-hacemos/">Qué Hacemos</a></li>
                        <li><a href="/es/involucrarse/">Cómo Participar</a></li>
                        <li><a href="/es/media-y-eventos/">Medios & Eventos</a></li>
                    </ul>
                    <ul>
                        <li><h2>Apóyanos</h2></li>
                        <li><a href="https://yucatankidsmx.org/donate.html">Donar</a></li>
                        <li><a href="/es/voluntario/">Voluntario</a></li>
                        <li><a href="/es/involucrarse/#social-media">Redes Sociales</a></li>
                    </ul>
                    <ul>
                        <li>
                            <h2>Contacto</h2>
                        </li>
                        <li><a href="/es/contacto/">Contáctanos</a></li>
                        <li><a href="mailto:janemallonee@gmail.com">Envíanos un correo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="credit">
            <span class="copyright"> © 2025 Yucatán Kids. Todos los derechos reservados.</span>
        </div>
    </div>
</footer>