<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logos/WhiteText.png" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li><h2>Information</h2></li>
                    <li><a href="/">Who We Are</a></li>
                    <li><a href="/what-we-do">What We Do</a></li>
                    <li><a href="/get-involved">Get Involved</a></li>
                    <li><a href="/news-and-events">Media & Events</a></li>
                </ul>
                <ul>
                    <li><h2>Support Us</h2></li>
                    <li><a href="https://yucatankidsmx.org/donate.html" target="_blank">Donate</a></li>
                    <li><a href="/volunteer-signup">Volunteer</a></li>
                    <li><a href="/get-involved/#social-media">Social Media</a></li>
                </ul>
                <ul>
                    <li><h2>Contact</h2></li>
                    <li><a href="/contact">Get In Touch</a></li>
                    <li><a href="mailto:email@email.com">Email Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="copyright"> © 2023 Yucatán Kids. All rights reserved.</span>
    </div>
</footer>