---
layout: 'base.html'
description: 'Contacto'
metaTitle: 'Grupo de Voluntarios Independientes Sin Fines de Lucro'
tagTitle: 'Yucatán Kids | Una Iniciativa de Inglés y Artes Culturales'
permalink: '/es/contacto/'
eleventyNavigation:
    key: Contacto
    parent: spanish
    order: 600
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/blurredclassroom.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Contáctenos</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/blurredclassroom.png">
        <source media="(min-width: 601px)" srcset="/assets/images/blurredclassroom.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/blurredclassroom.png" alt=""
            width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-wrapper">
    <div class="cs-container">
        <form id="cs-form" name="Contact Form" method="POST" data-netlify="true" action="/submission-success">
            <div class="cs-content">
                <span class="cs-topper">Contacto</span>
                <h2 class="cs-title">¡Póngase en contacto!</h2>
                <p class="cs-text">
                    Contáctenos para obtener más información y conocer las oportunidades de voluntariado.
                </p>
            </div>
            <label>
                Nombre
                <input required type="text" id="name" name="name" placeholder="Nombre">
            </label>
            <label>
                Correo electrónico
                <input required type="text" id="email" name="email" placeholder="Correo electrónico">
            </label>
            <label>
                Teléfono
                <input required type="text" id="phone" name="phone" placeholder="Teléfono">
            </label>
            <label>
                ¿Cómo nos encontraste?
                <input type="text" id="find" name="find-us" placeholder="¿Cómo?">
            </label>
            <label class="cs-label-message">
                Mensaje
                <textarea required name="Message" id="message"
                    placeholder="¡Ideas, preguntas, y comentarios van aquí!"></textarea>
            </label>
            <button class="cs-button-solid" type="submit">Enviar Mensaje</button>
        </form>
        <div class="cs-right-section">
            <!--Contact Info-->
            <span class="cs-header">Jane Mallonee</span>
            <a class="cs-link" href="mailto:janemallonee@gmail.com">janemallonee@gmail.com</a>
            <a class="cs-link" href="https://wa.me/529992327039">999-232-7039</a>
            <br />
            <span class="cs-header">Jorge Lara Bass</span>
            <a class="cs-link" href="mailto:jjjardinaria@gmail.com">jjjardinaria@gmail.com</a>
            <a class="cs-link" href="https://wa.me/529991950901">999-195-0901</a>
            <br />
            <!--Address-->
            <span class="cs-header">Dirección</span>
            <a class="cs-link" href="">Casa Otoch, Caucel</a>
            <!-- Background Image-->
            <picture aria-hidden="true" class="cs-bg-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/yuctanKidsContactBackground.png">
                <source media="(min-width: 601px)" srcset="/assets/images/yuctanKidsContactBackground.png">
                <img loading="lazy" decoding="async" src="/assets/images/yuctanKidsContactBackground.png" alt="Yucatan Kids AC"
                    width="542" height="662">
            </picture>
        </div>
    </div>
</section>