---
layout: 'base.html'
description: 'Involucrarse'
metaTitle: 'Grupo de Voluntarios Independientes Sin Fines de Lucro'
tagTitle: 'Yucatán Kids | Una Iniciativa de Inglés y Artes Culturales'
permalink: 'get-involved/es/'
eleventyNavigation:
    key: Get Involved
    order: 400
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/join-hands-together-business-teamwork.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/getInvolved.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Involucrarse</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/join-hands-together-business-teamwork.png">
        <source media="(min-width: 601px)" srcset="/assets/images/join-hands-together-business-teamwork.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/join-hands-together-business-teamwork.png" alt="" width="400" height="662">
    </picture>
</section>


<!-- ============================================ -->
<!--                 CORE INITIATIVES             -->
<!-- ============================================ -->

<section id="section-header">
    <div class="cs-container">
        <span class="cs-topper">Apóyanos</span>
        <h2 class="cs-title">Qué Puedes Hacer Para Ayudar</h2>
        <p class="cs-text">
        </p>
    </div>
</section>

<br />
<br/>

<!-- ============================================ -->
<!--                  card-container                    -->
<!-- ============================================ -->

<section id="card-container" class="card-container">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/support.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Donar</h2>
        <p>
            Tu donación puede hacer la diferencia en la vida de los niños. Apoya nuestro trabajo y genera un impacto positivo.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/volunteer.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Hazte Voluntario</h2>
        <p>
            Únase a nosotros para empoderar a los niños a través de la educación y el enriquecimiento cultural. Conviértase en voluntario ahora.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/socialmedia.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Corre la Voz</h2>
        <p>
            Comparte nuestra misión con tus amigos y ayúdanos a llegar a un público más amplio.
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--             Donate Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Apóyanos <br> Con Una Donación</h2>
        <p>
          Únase a nosotros para generar un impacto positivo en la vida de los niños al apoyar a nuestra organización. Su apoyo 
          nos ayudará a brindar instrucción en inglés de alta calidad y enriquecimiento cultural a los niños necesitados.
        </p>
        <a aria-label="get involved" href="https://yucatankidsmx.org/donate.html" class="button-solid">DONATE</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/youngBoysAtDesks.png">
        <source media="(min-width: 601px)" srcset="/assets/images/youngBoysAtDesks.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/youngBoysAtDesks.png"
            alt="kitchen cabinets" width="1920" height="1280">
    </picture>
</section>

<!-- ============================================ -->
<!--                 VOLUNTEER                    -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/assetTeamlearning.png">
                <source media="(min-width: 601px)" srcset="/assets/images/assetTeamlearning.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetTeamlearning.png" alt="house" width="522"
                    height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Voluntario</span>
            <h2 class="cs-title">Considere el Voluntario</h2>
            <p class="cs-text">
                Si desea contribuir al empoderamiento de los niños a través de la educación y el enriquecimiento cultural, 
              le animamos a considerar la posibilidad de colaborar voluntariamente con nuestra organización sin fines de lucro. 
            </p>
            <p class="cs-text">
                Como voluntario, tendrás la oportunidad de generar un impacto positivo en la vida de los niños y ser parte de algo más grande que usted. 
              Adquirirás experiencia y habilidades valiosas, y tendrás la oportunidad de trabajar con un equipo diverso y dedicado de voluntarios y personal. 
            </p>
            <p class="cs-text">
                Si estás listo para marcar una diferencia y apoyar a la próxima generación, te invitamos a unirte a nuestra misión. 
              Regístrate para explorar nuestras oportunidades de voluntariado y cómo puedes participar.  
            </p>
            <a href="/volunteer-signup" class="button-solid" id="social-media">Regístrate Aquí</a>
        </div>
    </div>
</section>

<section id="section-header">
    <div class="cs-container">
        <span class="cs-topper">Corre la Voz</span>
        <h2 class="cs-title">Extiende la Palabra</h2>
        <p class="cs-text">
        Crea conciencia sobre Yucatán Kids y nuestra misión compartiendo información al respecto con tus amigos, 
          familiares, y seguidores en las redes sociales y ayúdanos a asegurar más apoyo. 
        </p>
    </div>
</section>
<br />
<br />

<section  >

</section>
<!-- ============================================ -->
<!--      Social Media  - card-container          -->
<!-- ============================================ -->

<section id="card-container" class="card-container" style="width: 50%">
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/facebook.png" alt="facebook" width="48"
                height="48" >
        </picture>
        <h2>Facebook</h2>
        <p>
            <a href="https://www.facebook.com/yucatankidsmerida/photos/?ref=page_internal" target="_blank" class="button-nosolid">Síguenos en Facebook</a>
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/instagram.png" alt="instagram" width="48"
                height="48">
        </picture>
        <h2>Instagram</h2>
        <p>
            <a href="https://www.instagram.com/yucatankids/" target="_blank" class="button-nosolid">Síguenos en Instagram</a>
        </p>
    </div>
</section>
