---
layout: 'base.html'
description: 'Get Involved'
metaTitle: 'Nonprofit Independent Volunteer Group'
tagTitle: 'Yucatán Kids | An English and Cultural Arts Initiative'
permalink: 'get-involved/'
eleventyNavigation:
    key: Get Involved
    order: 400
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/getInvolved.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Get Involved</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg" alt="" width="400" height="662">
    </picture>
</section>


<!-- ============================================ -->
<!--                 CORE INITIATIVES             -->
<!-- ============================================ -->

<section id="section-header">
    <div class="cs-container">
        <span class="cs-topper">Support Us</span>
        <h2 class="cs-title">What You Can Do To Help</h2>
        <p class="cs-text">
        </p>
    </div>
</section>

<br />
<br/>

<!-- ============================================ -->
<!--                  card-container                    -->
<!-- ============================================ -->

<section id="card-container" class="card-container">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/support.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Donate</h2>
        <p>
            Your donation can make a difference in the lives of children. Support our work and make a positive impact.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/volunteer.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Volunteer</h2>
        <p>
            Join us in empowering children through education and cultural enrichment. Become a volunteer now.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/socialmedia.png" alt="appliance" width="48"
                height="48">
        </picture>
        <h2>Share Information</h2>
        <p>
            Share our mission with your friends and help us reach a wider audience.
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--             Donate Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Support Us <br> With A Donation</h2>
        <p>
            Join us in making a positive impact in the lives of children by supporting our organization. Your support will help us
            provide high-quality English language instruction and cultural enrichment to children in need.
        </p>
        <a aria-label="get involved" href="https://yucatankidsmx.org/donate.html" target="_blank" class="button-solid">DONATE</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/youngBoysAtDesks.png">
        <source media="(min-width: 601px)" srcset="/assets/images/youngBoysAtDesks.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/youngBoysAtDesks.png"
            alt="kitchen cabinets" width="1920" height="1280">
    </picture>
</section>

<!-- ============================================ -->
<!--                 VOLUNTEER                    -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/teamlearning.png">
                <source media="(min-width: 601px)" srcset="/assets/images/teamlearning.png">
                <img loading="lazy" decoding="async" src="/assets/images/teamlearning.png" alt="house" width="522"
                    height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Volunteer</span>
            <h2 class="cs-title">Become A Volunteer</h2>
            <p class="cs-text">
                If you would like to have a hand in empowering children through education and cultural enrichment, we encourage you to consider
                volunteering with our non-profit organization.
            </p>
            <p class="cs-text">
                As a volunteer, you will have the chance to make a positive impact in the lives of children and be a part of something
                bigger than yourself. You will gain valuable experience and skills, and you will have the opportunity to work with a
                diverse and dedicated team of volunteers and staff.
            </p>
            <p class="cs-text">
                If you are ready to make a difference and support the next generation, we welcome you to join us in our mission. Please
                sign up to explore our volunteer opportunities and how you can get involved.
            </p>
            <a href="/volunteer-signup" class="button-solid" id="social-media">Sign Up Here</a>
        </div>
    </div>
</section>

<section id="section-header">
    <div class="cs-container">
        <span class="cs-topper">Share Information</span>
        <h2 class="cs-title">Spread The Word</h2>
        <p class="cs-text">
        Raise awareness about Yucatán Kids and our mission by sharing information about it with your friends,
        family, and social media followers and help us secure additional support.
        </p>
    </div>
</section>
<br />
<br />

<section  >

</section>
<!-- ============================================ -->
<!--      Social Media  - card-container          -->
<!-- ============================================ -->

<section id="card-container" class="card-container">
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/facebook.png" alt="facebook" width="48"
                height="48" >
        </picture>
        <h2>Facebook</h2>
        <p>
            <a href="https://www.facebook.com/yucatankidsmerida/photos/?ref=page_internal" target="_blank" class="button-nosolid">Like Us On Facebook</a>
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/instagram.png" alt="instagram" width="48"
                height="48">
        </picture>
        <h2>Instagram</h2>
        <p>
            <a href="https://www.instagram.com/yucatankids/" target="_blank" class="button-nosolid">Follow Us On Instagram</a>
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/images/icons/twitter.png" alt="twitter" width="48"
                height="48">
        </picture>
        <h2>Twitter</h2>
        <p>
            <a href="https://twitter.com/" target="_blank" class="button-nosolid">Share Us On Twitter</a>
        </p>
    </div>
</section>
