---
layout: 'base.html'
description: 'Submission Verification'
metaTitle: 'Nonprofit Independent Volunteer Group'
tagTitle: 'Yucatán Kids | An English and Cultural Arts Initiative'
permalink: 'submission-success/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Thank You For Your Submission</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/business-teamwork-join-hands-together-business-teamwork-concept.jpg" alt=""
            width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
    <div class="cs-container">
        <form id="cs-form">
            <div class="cs-content">
                <span class="cs-topper">Success!</span>
                <h3 class="cs-title">We have recieved your submission and will be in touch. Thank you!</h3>
            </div>
        </form>
        <div class="cs-right-section">
            <!--Email-->
            <span class="cs-header">Email</span>
            <a class="cs-link" href="mailto:yucatankidsmx@gmail.com">yucatankidsmx@gmail.com</a>
            <!--Phone-->
            <span class="cs-header">Phone</span>
            <a class="cs-link" href="tel:+52999-232-7039">+52(999) 23-27-039</a>
            <!--Address-->
            <span class="cs-header">Address</span>
            <a class="cs-link" href="">Calle 116 A, 701E Jardines de
                Nueva Mulsay I <span class="cs-block"> 97249 Mérida, Yucatán, México</span></a>
            <!-- Background Image-->
            <picture aria-hidden="true" class="cs-bg-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/bluewallandbookbag.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/bluewallandbookbag.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/bluewallandbookbag.jpeg" alt="bookbag"
                    width="542" height="662">
            </picture>
        </div>
    </div>
</section>