---
layout: 'base.html'
description: 'Verificación de Envío'
metaTitle: 'Grupo de Voluntarios Independientes Sin Fines de Lucro'
tagTitle: 'Yucatán Kids | Una Iniciativa de Inglés y Artes Culturales'
permalink: '/es/verificación-de-envío/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/join-hands-together-business-teamwork.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/contact.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Gracias Por Su Envío</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/join-hands-together-business-teamwork.png">
        <source media="(min-width: 601px)" srcset="/assets/images/join-hands-together-business-teamwork.png">
        <img aria-hidden="true" loading="lazy" decoding="async"
            src="/assets/images/join-hands-together-business-teamwork.png" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-wrapper">
    <div class="cs-container">
        <form id="cs-form">
            <div class="cs-content">
                <span class="cs-topper">¡Exitoso!</span>
                <h3 class="cs-title">Gracias Por Su Envío. Hemos recibido su envío y nos pondremos en contacto con
                    usted. ¡Gracias!</h3>
            </div>
        </form>
        <div class="cs-right-section">
            <!--Contact Info-->
            <span class="cs-header">Jane Mallonee</span>
            <a class="cs-link" href="mailto:janemallonee@gmail.com">janemallonee@gmail.com</a>
            <a class="cs-link" href="https://wa.me/529992327039">999-232-7039</a>
            <br />
            <span class="cs-header">Jorge Lara Bass</span>
            <a class="cs-link" href="mailto:jjjardinaria@gmail.com">jjjardinaria@gmail.com</a>
            <a class="cs-link" href="https://wa.me/529991950901">999-195-0901</a>
            <br />
            <!--Address-->
            <span class="cs-header">Dirección</span>
            <a class="cs-link" href="">Casa Otoch, Caucel</a>
            <!-- Background Image-->
            <picture aria-hidden="true" class="cs-bg-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/yuctanKidsContactBackground.png">
                <source media="(min-width: 601px)" srcset="/assets/images/yuctanKidsContactBackground.png">
                <img loading="lazy" decoding="async" src="/assets/images/yuctanKidsContactBackground.png" alt="Yucatan Kids AC"
                    width="542" height="662">
            </picture>
        </div>
    </div>
</section>