---
layout: 'base.html'
description: 'What We Do'
metaTitle: 'Nonprofit Independent Volunteer Group'
tagTitle: 'Yucatán Kids | An English and Cultural Arts Initiative'
permalink: '/en/what-we-do/'
eleventyNavigation:
    key: What We Do
    parent: english
    order: 300
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/YellowShirtTeacher.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/whatWeDo.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">What We Do</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/YellowShirtTeacher.png">
        <source media="(min-width: 601px)" srcset="/assets/images/YellowShirtTeacher.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/YellowShirtTeacher.png" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(min-width: 601px)" srcset="/assets/images/assetEarlyDev.png">
                <source media="(max-width: 600px)" srcset="/assets/images/assetEarlyDev.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetEarlyDev.png" alt="Early Development Education" width="600" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Early development</h2>
            <p class="cs-text">
                Our early development program focuses on teaching young children ages 2-3. We cover a variety of skills, primarily in English 
                including reading storybooks, singing, speaking, and teaching basic fundamental concepts such as handwriting, numbers, colors, and vocabulary.
            </p>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side B                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetPreescolar.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetPreescolar.png" alt="Preschool Education" width="414" height="400">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Preschool</h2>
            <p class="cs-text">
                In our preschool program, we work with children ages 4-5 to develop a variety of skills including 
                handwriting, understanding numbers, learning colors, and expanding their vocabulary. 
                We also include activities such as reading stories in English to improve listening and comprehension.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetClaseIngles.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetClaseIngles.png" alt="Teaching words" width="522" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">English Classes</h2>
            <p class="cs-text">
                Our English classes are taught by three highly skilled and professional Mexican English
                teachers. In addition to learning the English language, our classes aim to provide cultural enrichment and help children
                develop important skills such as critical thinking, problem-solving, and communication. These skills serve as a foundation for success in a variety 
                of fields and can help children adapt to new environments and challenges as they navigate their future.
            </p>
            </div>
        </div>
    </div>
</section>

<br/>
<!-- ============================================ -->
<!--           Picture Slideshow                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
            <!-- Slideshow container -->
            <div class="slideshow-container cs-left">
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoPyramidsTrip.png">
                        <img loading="lazy" decoding="async" src="/assets/images/supplementalActivitiesPhotos/photoPyramidsTrip.png" alt="Trip to Pyramids"/>
                    </picture>
                    <div class="text">Trip to Pyramids</div>
                </div>
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoAdvancedStudentSpeakingWithUSConsulateGeneral.png">
                        <img loading="lazy" decoding="async" src="/assets/images/supplementalActivitiesPhotos/photoAdvancedStudentSpeakingWithUSConsulateGeneral.png" alt="Advanced Student Speaking with US Consulate General"/>
                    </picture>
                    <div class="text">Advanced Student Speaking with US Consulate General</div>
                </div>
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoZooTrip.png">
                        <img loading="lazy" decoding="async" src="/assets/images/supplementalActivitiesPhotos/photoZooTrip.png" alt="Zoo Trip"/>
                    </picture>
                    <div class="text">Zoo Trip</div>
                </div>
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoIcecreamAtLaPlancha.png">
                        <img loading="lazy" decoding="async" src="/assets/images/supplementalActivitiesPhotos/photoIcecreamAtLaPlancha.png"
                            alt="Ice Cream at La Plancha" />
                    </picture>
                    <div class="text">Ice Cream at La Plancha</div>
                </div>
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto"
                            srcset="/assets/images/supplementalActivitiesPhotos/photoMagicShow.png">
                        <img loading="lazy" decoding="async"
                            src="/assets/images/supplementalActivitiesPhotos/photoMagicShow.png"
                            alt="Magic Show" />
                    </picture>
                    <div class="text">Magic Show</div>
                </div>
                <div class="mySlides fade">
                    <picture class="cs-picture cs-picture1" aria-hidden="true">
                        <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoTouribusXmasLightTour.png">
                        <img loading="lazy" decoding="async" src="/assets/images/supplementalActivitiesPhotos/photoTouribusXmasLightTour.png"
                            alt="Touribus Christmas Light Tour" />
                    </picture>
                    <div class="text">Touribus Christmas Light Tour</div>
                </div>
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <!-- The dots/circles -->
                <div style="justify-self:center; bottom: 15px; position: absolute;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                </div>
            </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Supplementary Activities</h2>
            <p class="cs-text">
                Activities and outings we do with the children that allows them to use English in real world situations. The outings
                give the older children the opportunity to explore archeological sites, art museums, parks, ballet, and various
                performances.
            </p>
        </div>
    </div>
</section>

<br />

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Make an Impact <br> With Us Today</h2>
        <p>
            Sponsor us or volunteer to enhance the education of children who deserve a helping hand.  Please reach out to us! We would love to have you.
        </p>
        <a href="en/community-support" class="button-solid">Get Involved</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/preschoolers.png">
        <source media="(min-width: 601px)" srcset="/assets/images/preschoolers.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/preschoolers.png" alt="smiles" width="1920" height="1280" alt="preschoolers">
        </picture>
</section>