---
layout: 'base.html'
description: 'Qué Hacemos'
metaTitle: 'Grupo de Voluntarios Independientes Sin Fines de Lucro'
tagTitle: 'Yucatán Kids | Una Iniciativa de Inglés y Artes Culturales'
permalink: '/es/que-hacemos/'
eleventyNavigation:
    key: Que Hacemos
    parent: spanish
    order: 300
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/YellowShirtTeacher.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/whatWeDo.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Qué Hacemos</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/YellowShirtTeacher.png">
        <source media="(min-width: 601px)" srcset="/assets/images/YellowShirtTeacher.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/YellowShirtTeacher.png" alt=""
            width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(min-width: 601px)" srcset="/assets/images/assetEarlyDev.png">
                <source media="(max-width: 600px)" srcset="/assets/images/assetEarlyDev.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetEarlyDev.png"
                    alt="Early Development Education" width="600" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Maternal</h2>
            <p class="cs-text">
                Nuestro programa de maternal se centra en la enseñanza de niños pequeños de 2 a 3 años. Abarcamos
                diversas habilidades,
                principalmente en inglés, incluyendo la lectura de cuentos, el canto, la expresión oral, y la enseñanza
                de conceptos básicos
                como la escritura, los números, los colores, y el vocabulario.
            </p>
        </div>
    </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side B                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetPreescolar.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetPreescolar.png" alt="Preschool Education"
                    width="414" height="400">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Preescolar</h2>
            <p class="cs-text">
                En nuestro programa preescolar, trabajamos con niños de 4 a 5 años para desarrollar diversas
                habilidades, como la escritura,
                la comprensión de los números, el aprendizaje de los colores y la ampliación de su vocabulario. También
                se compone de actividades
                como la lectura de cuentos en inglés para mejorar la escucha y la comprensión.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetClaseIngles.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetClaseIngles.png" alt="Teaching words"
                    width="522" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Clases de Inglés</h2>
            <p class="cs-text">
                Nuestras clases de inglés son impartidas por un profesor de inglés profesional y cuentan con el apoyo de
                voluntarios que actúan como
                asistentes de profesor. Además de aprender inglés, nuestras clases buscan enriquecer la cultura y ayudar
                a los niños a desarrollar habilidades
                importantes como el pensamiento crítico, la resolución de problemas, y la comunicación. Estas
                habilidades son la base para el éxito en diversos
                campos y pueden ayudar a los niños a adaptarse a nuevos entornos y desafíos a medida que avanzan hacia
                su futuro.
            </p>
        </div>
    </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side B                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetAboutMe.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetAboutMe.png" alt="Learn About Me Session"
                    width="414" height="400">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Learning About Me <br> (Conociéndome)</h2>
            <p class="cs-text">
                Nuestro grupo de discusión semanal para preadolescentes busca ayudar a desarrollar la autoestima y el
                optimismo hacia su futuro. Buscamos presentarles
                técnicas para que interactúen entre sí, fomenten un entorno de apoyo y desarrollen un sentido de
                comunidad. El objetivo de este programa es inspirarlos
                a apoyarse y empoderarse mutuamente mientras enfrentan los desafíos de esta etapa de sus vidas.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--       3 Pictures Side By Side                -->
<!-- ============================================ -->

<!-- <section id="section-header">
    <div class="cs-container">
        <h2 class="cs-title">Capoeira and Jazz</h2>
            <p class="cs-text">
                These lessons are taught by professional instructors to provide an opportunity for
                adolescents to engage in healthy physical activity as well as an outlet for their individual expression.
                These lessons also help them further enhance their focus
                and concentration as well as their physical coordination and endurance.
                Participating in these activities is also a great way for them to
                socialize, make new friends, and boost their self-confidence.
            </p>
    </div>
</section>

</section>
<section id="card-container" class="card-container">
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetCapoeiraDynamic.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetCapoeiraDynamic.png" alt="Capoeira" width="522"
                height="581">
        </picture>
    </div>
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetDance.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetDance.png" alt="Capoeira" width="522"
                height="581">
            </div>
        </picture>
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetCapoeiraStatic.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetCapoeiraStatic.png" alt="Capoeira" width="522"
                height="581">
        </picture>
    </div>
</section> -->

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Crear un Impacto <br> Con Nosotros Hoy</h2>
        <p>
            Dona, patrocina, o participa como voluntario para mejorar la educación de los niños que merecen ayuda.
            ¡Contáctanos! Nos encantaría contar con su apoyo.
        </p>
        <a href="/es/involucrarse/" class="button-solid">Involucrarse</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/preschoolers.png">
        <source media="(min-width: 601px)" srcset="/assets/images/preschoolers.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/preschoolers.png" alt="smiles"
            width="1920" height="1280" alt="preschoolers">
    </picture>
</section>