---
layout: 'base.html'
description: 'Qué Hacemos'
metaTitle: 'Grupo de Voluntarios Independientes Sin Fines de Lucro'
tagTitle: 'Yucatán Kids | Una Iniciativa de Inglés y Artes Culturales'
permalink: '/es/que-hacemos/'
eleventyNavigation:
    key: Que Hacemos
    parent: spanish
    order: 300
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/YellowShirtTeacher.png">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/whatWeDo.css">
{% endblock %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Qué Hacemos</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/YellowShirtTeacher.png">
        <source media="(min-width: 601px)" srcset="/assets/images/YellowShirtTeacher.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/YellowShirtTeacher.png" alt=""
            width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(min-width: 601px)" srcset="/assets/images/assetEarlyDev.png">
                <source media="(max-width: 600px)" srcset="/assets/images/assetEarlyDev.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetEarlyDev.png"
                    alt="Early Development Education" width="600" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Maternal</h2>
            <p class="cs-text">
                Nuestro programa de maternal se centra en la enseñanza de niños pequeños de 2 a 3 años. Abarcamos
                diversas habilidades,
                principalmente en inglés, incluyendo la lectura de cuentos, el canto, la expresión oral, y la enseñanza
                de conceptos básicos
                como la escritura, los números, los colores, y el vocabulario.
            </p>
        </div>
    </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side B                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetPreescolar.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetPreescolar.png" alt="Preschool Education"
                    width="414" height="400">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Preescolar</h2>
            <p class="cs-text">
                En nuestro programa preescolar, trabajamos con niños de 4 a 5 años para desarrollar diversas
                habilidades, como la escritura,
                la comprensión de los números, el aprendizaje de los colores y la ampliación de su vocabulario. También
                se compone de actividades
                como la lectura de cuentos en inglés para mejorar la escucha y la comprensión.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side by Side A                -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="auto" srcset="/assets/images/assetClaseIngles.png">
                <img loading="lazy" decoding="async" src="/assets/images/assetClaseIngles.png" alt="Teaching words"
                    width="522" height="581">
            </picture>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Clases de Inglés</h2>
            <p class="cs-text">
                Nuestras clases de inglés son impartidas por son impartidas por nuestros tres profesores. 
                Se enfatiza la gramática, el vocabulario, la lectura y la escritura.
                Además de aprender inglés, nuestras clases buscan enriquecer la cultura y ayudar
                a los niños a desarrollar habilidades
                importantes como el pensamiento crítico, la resolución de problemas, y la comunicación. Estas
                habilidades son la base para el éxito en diversos
                campos y pueden ayudar a los niños a adaptarse a nuevos entornos y desafíos a medida que avanzan hacia
                su futuro.
            </p>
        </div>
    </div>
</section>

<br />
<!-- ============================================ -->
<!--           Picture Slideshow                  -->
<!-- ============================================ -->
<section id="sbs-r">
    <div class="cs-container">
        <!-- Image Section -->
        <!-- Slideshow container -->
        <div class="slideshow-container cs-left">
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoPyramidsTrip.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoPyramidsTrip.png"
                        alt="Viaje a las Pirámides" />
                </picture>
                <div class="text">Viaje a las Pirámides</div>
            </div>
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto"
                        srcset="/assets/images/supplementalActivitiesPhotos/photoAdvancedStudentSpeakingWithUSConsulateGeneral.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoAdvancedStudentSpeakingWithUSConsulateGeneral.png"
                        alt="Estudiante Avancada Hablando con el Consulado General de EE. UU." />
                </picture>
                <div class="text">Estudiante Avancada Hablando con el Consulado General de EE. UU.</div>
            </div>
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoZooTrip.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoZooTrip.png" 
                        alt="Viaje al Zoológico" />
                </picture>
                <div class="text">Viaje al Zoológico</div>
            </div>
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto"
                        srcset="/assets/images/supplementalActivitiesPhotos/photoIcecreamAtLaPlancha.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoIcecreamAtLaPlancha.png"
                        alt="Helado en La Plancha" />
                </picture>
                <div class="text">Helado en La Plancha</div>
            </div>
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto" srcset="/assets/images/supplementalActivitiesPhotos/photoMagicShow.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoMagicShow.png" 
                        alt="Espectáculo de Magia" />
                </picture>
                <div class="text">Espectáculo de Magia</div>
            </div>
            <div class="mySlides fade">
                <picture class="cs-picture cs-picture1" aria-hidden="true">
                    <source media="auto"
                        srcset="/assets/images/supplementalActivitiesPhotos/photoTouribusXmasLightTour.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/supplementalActivitiesPhotos/photoTouribusXmasLightTour.png"
                        alt="Tour de Luces Navideños Touribus" />
                </picture>
                <div class="text">Tour de Luces Navideños Touribus</div>
            </div>
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <!-- The dots/circles -->
            <div style="justify-self:center; bottom: 15px; position: absolute;">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
            </div>
        </div>
        <!-- Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Actividades Suplementarias</h2>
            <p class="cs-text">
                Excursiones y viajes de un día a lugares donde los niños pueden usar el inglés en situaciones reales. Las excursiones 
                ofrecen a los jovenes mayores la oportunidad de explorar sitios arqueológicos, museos de arte, parques, ballet y diversas 
                actuaciones. Los niños más pequeños visitan el zoológico, centros comerciales como La Plancha, el cine y mucho más.
            </p>
        </div>
    </div>
</section>

<br />

<!-- ============================================ -->
<!--       3 Pictures Side By Side                -->
<!-- ============================================ -->

<!-- <section id="section-header">
    <div class="cs-container">
        <h2 class="cs-title">Capoeira and Jazz</h2>
            <p class="cs-text">
                These lessons are taught by professional instructors to provide an opportunity for
                adolescents to engage in healthy physical activity as well as an outlet for their individual expression.
                These lessons also help them further enhance their focus
                and concentration as well as their physical coordination and endurance.
                Participating in these activities is also a great way for them to
                socialize, make new friends, and boost their self-confidence.
            </p>
    </div>
</section>

</section>
<section id="card-container" class="card-container">
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetCapoeiraDynamic.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetCapoeiraDynamic.png" alt="Capoeira" width="522"
                height="581">
        </picture>
    </div>
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetDance.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetDance.png" alt="Capoeira" width="522"
                height="581">
            </div>
        </picture>
    <div class="card">
        <picture aria-hidden="true">
            <source media="auto" srcset="/assets/images/assetCapoeiraStatic.png">
            <img loading="lazy" decoding="async" src="/assets/images/assetCapoeiraStatic.png" alt="Capoeira" width="522"
                height="581">
        </picture>
    </div>
</section> -->

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Crear un Impacto <br> Con Nosotros Hoy</h2>
        <p>
            Patrocínanos o participa como voluntario para mejorar la educación de los niños que merecen ayuda.
            ¡Contáctanos! Nos encantaría contar con su apoyo.
        </p>
        <a href="/es/apoyo-comunitario/" class="button-solid">Apoyo Comunitario</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/preschoolers.png">
        <source media="(min-width: 601px)" srcset="/assets/images/preschoolers.png">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/preschoolers.png" alt="smiles"
            width="1920" height="1280" alt="preschoolers">
    </picture>
</section>