---
layout: 'base.html'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Company Name | What They Do | Town and State'
permalink: 'what-we-do/'
eleventyNavigation:
    key: What We Do
    order: 300
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/whatWeDo.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">What We Do</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images//cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images//cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images//cabinets2.jpg" alt="" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side by Side Left             -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/chairclassroom.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/chairclassroom.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/chairclassroom.jpeg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/PHOTOcaimede.jpeg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Early development</h2>
            <p class="cs-text">
                Primarily in English, focuses on teaching children ages 2-3. Includes reading story books, singing and speaking. Teaching preschool children handwriting, numbers, colors, and vocabulary.
            </p>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side Right              -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/emptyclass.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/emptyclass.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/emptyclass.jpeg" alt="house" width="414" height="400">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/smilingkids.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/smilingkids.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/smilingkids.jpeg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Preschool</h2>
            <p class="cs-text">
                Teaching children from ages 4-5 handwriting, numbers, colors, and vocabulary. Reading stories in English to improve listening and comprehension.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side by Side Left             -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/chairclassroom.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/chairclassroom.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/chairclassroom.jpeg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/PHOTOcaimede.jpeg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">English Classes</h2>
            <p class="cs-text">
                Taught by a contracted English teacher. Volunteers also attend serving as teacher's assistants.
            </p>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side by Side Right              -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/emptyclass.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/emptyclass.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/emptyclass.jpeg" alt="house" width="414" height="400">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/smilingkids.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/smilingkids.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/smilingkids.jpeg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Learning About Me</h2>
            <p class="cs-text">
                Preteen weekly discussion group to help build self esteem and optimism for their futures. 
                The goal is to encourage them to support each other and cultivate a community. 
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side by Side Left             -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/chairclassroom.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/chairclassroom.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/chairclassroom.jpeg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/PHOTOcaimede.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/PHOTOcaimede.jpeg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Capoeira and Jazz</h2>
            <p class="cs-text">
                Lessons taught by our contracted instructors. Promotes healthy physical activity and an outlet for their individual expression.
            </p>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
    </div>
</section>
                            
<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Make an Impact <br> With Us Today</h2>
        <p>
            Donate, sponsor, or volunteer to enhance the education of children who deserve a helping hand.  Please reach out to us! We would love to have you.
        </p>
        <a href="/contact" class="button-solid">Contact us</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images//cabinets2-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images//cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images//cabinets2.jpg" alt="kitchen cabinets" width="1920" height="1280">
        </picture>
</section>