/*-- -------------------------- -->
<---      Language Toggle      -->
<--- -------------------------- -*/

/* Mobile */

    body.es-mode {
        #english-footer {
            display: none;
        }
    }

    body.en-mode {
        #spanish-footer {
            display: none;
        }
    }

@media only screen and (min-width: 0em) {
    body.es-mode #language-toggle .es {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    body.es-mode #language-toggle .en {
        transform: translate(-50%, -150%);
        opacity: 0;
    }

    #language-toggle {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 6.5rem;        ;
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: none;
        overflow: hidden;
        padding: 0;
    }

    #language-toggle img,
    #language-toggle svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5625rem;
        height: 1.5625rem;
        pointer-events: none;
    }

    #language-toggle .en {
        z-index: 2;
        fill: #6ab53c;
    }

    #language-toggle .es {
        z-index: 1;
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

/* Desktop */
@media only screen and (min-width: 64em) {
    #language-toggle {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-left: .875rem;
        margin-bottom: 0rem;
    }

    #language-toggle .en {
        fill: #6ab53c;
    }
}