/*-- -------------------------- -->
<---      Language Toggle      -->
<--- -------------------------- -*/

    body.es-mode {
        #english-footer {
            display: none;
        }

        .en-content {
            display: none !important;
        }
    }

    body.en-mode {
        #spanish-footer {
            display: none;
        }

        .es-content {
            display: none !important;
        }
    }

/* Mobile */
@media only screen and (min-width: 0em) {

    #language-toggle {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7rem;
        width: auto;
        border: 1.5px solid #6ab53c;
        color: white;
        text-decoration-color: white;
        background-color: #6ab53c;
        overflow: hidden;
        border-radius: 8px;
        padding: .35rem;
    }

    #language-toggle img,
    #language-toggle svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5625rem;
        height: 1.5625rem;
        pointer-events: none;
    }
}

/* Desktop */
@media only screen and (min-width: 64em) {
    #language-toggle {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-left: 1rem;
        margin-right: .5rem;
        margin-bottom: 0rem;
    }

}