/*-- -------------------------- -->
<---      Language Toggle      -->
<--- -------------------------- -*/

    html[lang="es"] #english-footer {
        display: none;
    }

    html[lang="en"] #spanish-footer {
        display: none;
    }

/* Mobile */
@media only screen and (min-width: 0em) {

    #language-toggle {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7rem;
        width: auto;
        border: 1.5px solid #6ab53c;
        color: white;
        text-decoration-color: white;
        background-color: #6ab53c;
        overflow: hidden;
        border-radius: 8px;
        padding: .35rem;
    }
}

/* Desktop */
@media only screen and (min-width: 64em) {
    #language-toggle {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-left: 1rem;
        margin-right: .5rem;
        margin-bottom: 0rem;
    }

}
