/*-- -------------------------- -->
<---       section-header       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #section-header {
    /* Centers the button */
    text-align: center;
    padding: 60px 1rem;
  }

  #section-header .cs-container {
    width: 100%;
    max-width: 69rem;
    margin: auto;
  }

  #section-header .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }

  #section-header .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }

  #section-header .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    color: var(--bodyTextColor);
  }

  #section-header .cs-card-group {
    padding: 0;
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
  }

  #section-header .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 33.875rem;
    margin: 0 auto 4rem;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }

  #section-header .cs-item:last-of-type {
    margin-bottom: 0;
  }

  #section-header .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
    background: var(--primary);
    border-radius: 50%;
  }

  #section-header .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bodyTextColor);
    border-bottom: 1px solid #E8E9EC;
  }

  #section-header .cs-reviewer {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    /* width: 40%; */
    margin: 0 auto 0 0;
    display: block;
    color: var(--headerColor);
  }

  #section-header .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--label);
    display: block;
  }

  #section-header .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #section-header .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  #section-header .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {

  body.dark-mode #section-header .cs-title,
  body.dark-mode #section-header .cs-text,
  body.dark-mode #section-header .cs-item-p,
  body.dark-mode #section-header .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }

  body.dark-mode #section-header .cs-item {
    background: var(--medium);
  }

  /* body.dark-mode #section-header .cs-desc {
    color: var(--primaryLight);
  } */
}

/*-- -------------------------- -->
<---      card-container          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .card-container {
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -10.4375em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 82.5em;
    padding: 3.125em 1.25em;
    border-top: 0.375em solid var(--primary);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 5.125em;
  }

  .card-container .card {
    display: block;
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
  }

  .card-container .card:last-of-type {
    margin-bottom: 0;
  }

  .card-container .card picture {
    background: #ffffff;
    width: 6.5em;
    height: 6.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }

  .card-container .card picture img {
    width: 6em;
    height: 6em;
  }

  .card-container .card h2 {
    text-align: center;
    font-size: 1.6em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.65em;
  }

  .card-container .card p {
    text-align: center;
    line-height: 1.33333333em;
    width: 100%;
    opacity: .7;
  }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
  .card-container {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 98%;
  }

  .card-container .card {
    margin: 0;
    max-width: 20.3125em;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .card-container {
    padding: 3.125em 5em;
  }

  .card-container .card {
    max-width: 22.3125em;
  }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #card-container {
    background: var(--medium);
  }

  body.dark-mode #card-container picture {
    background: #ffffff;
  }

  body.dark-mode #card-container h2 {
    color: #fff;
    font-weight: bold;
  }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .4;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(7vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("..assets/images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    /* width: 90.0625%; */
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .4;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: 75px 1rem 20px 1rem;
  }

  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  #sbs .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }

  #sbs .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }

  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }

  #sbs .cs-picture1 {
    width: 43.625em;
    height: 33.3125em;
    left: 0;
    top: 0;
  }

  #sbs .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    right: 0;
    bottom: 0;
  }

  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }

  #sbs .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  #sbs .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }

  #sbs .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }

  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #sbs .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }

  #sbs .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }

  #sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }

  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }

  #sbs .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }

  #sbs .button-solid {
    margin-top: 2rem;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }

  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }

  #sbs .cs-right {
    margin: 0;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {

  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }

  body.dark-mode #sbs .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }

  /* body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  } */
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }

  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }

  body.dark-mode #sbs .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }

  body.dark-mode #sbs .cs-quote-icon {
    opacity: .2;
  }
}

/*-- -------------------------- -->
<---      Volunteer Form        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.7375rem, 4.5vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: 100px 20px;
  }

  #volunteer-form {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
  }

  #volunteer-form .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 50rem;
    margin: auto;
  }

  #volunteer-form .cs-content {
    width: 100%;
  }

  #volunteer-form .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    /* 8px - 12px */
    margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
    display: block;
  }

  #volunteer-form .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  #volunteer-form .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    /* 404px - 522px */
    max-width: clamp(25.25rem, 30vw, 32.625rem);
    margin: 0 auto 0 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
    color: var(--bodyTextColor);
  }

  #volunteer-form #cs-form {
    margin-bottom: 30px;
  }

  #volunteer-form #cs-form label {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    /* 12px - 20px */
    margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }


  #volunteer-form #cs-form input.text,
  #volunteer-form #cs-form textarea {
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    margin-top: 0.25rem;
    padding-left: 1.25rem;
    border: 1px solid #B4B2C7;
    border-radius: 0.5rem;
    /* prevents border & padding from affecting height */
    box-sizing: border-box;
    transition: border .3s;
  }

  #volunteer-form #cs-form input:hover,
  #volunteer-form #cs-form textarea:hover {
    border: 1px solid var(--primary);
  }

  #volunteer-form #cs-form textarea {
    font-family: inherit;
    padding-top: 1.25rem;
    min-height: 7.5rem;
  }

  #volunteer-form #cs-form .cs-button-solid {
    width: 100%;
  }

  #volunteer-form .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #1a1a1a;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }

  #volunteer-form .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }

  #volunteer-form .cs-button-solid:hover {
    color: var(--bodyTextColorWhite);
    cursor: pointer;
  }

  #volunteer-form .cs-button-solid:hover:before {
    width: 100%;
  }

  #volunteer-form .cs-right-section {
    position: relative;
    height: 20rem;
    /* 24px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
    border-radius: 0.5rem;
    /* cuts off corners on img tag */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #volunteer-form .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--bodyTextColorWhite);
    display: block;
  }

  #volunteer-form .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.2em;
    text-decoration: none;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }

  #volunteer-form .cs-link:before {
    /* Animated underline */
    content: '';
    width: 0%;
    height: 2px;
    /* current color of the parent */
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width .3s;
  }

  #volunteer-form .cs-link:hover:before {
    width: 100%;
  }

  #volunteer-form .cs-link:last-of-type {
    margin-bottom: 0;
  }

  #volunteer-form .cs-block {
    /* sends second address line to the bottom on its own line */
    display: block;
  }

  #volunteer-form .cs-bg-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .6s;
  }

  #volunteer-form .cs-bg-picture:before {
    /* background color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: .1;
  }

  #volunteer-form .cs-bg-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
  #volunteer-form #cs-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #volunteer-form #cs-form label {
    width: 48%;
  }

  #volunteer-form #cs-form .cs-label-message {
    width: 100%;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #volunteer-form .cs-container {
    max-width: 80rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5rem;
  }

  #volunteer-form #cs-form {
    max-width: 39.375rem;
  }

  #volunteer-form #cs-form label {
    width: 100%;
  }

  #volunteer-form .cs-right-section {
    /* changes to 578px at 1300px wide */
    height: 42.875rem;
    width: 40%;
    max-width: 33.875rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #volunteer-form .cs-right-section:hover .cs-bg-picture {
    transform: scale(1.1);
  }

  #volunteer-form .cs-block {
    /* goes back to inline so it stays "in line" with the rest of the text */
    display: inline-block;
  }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #volunteer-form #cs-form {
    column-gap: 0rem;
  }

  #volunteer-form #cs-form label {
    max-width: 19.0625rem;
  }

  #volunteer-form #cs-form .cs-label-message {
    max-width: 100%;
  }

  #volunteer-form .cs-right-section {
    height: 36.125rem;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {

  body.dark-mode #volunteer-form .cs-text,
  body.dark-mode #volunteer-form .cs-title {
    color: var(--bodyTextColorWhite);
  }

  body.dark-mode #volunteer-form #cs-form label,
  body.dark-mode #volunteer-form #cs-form input,
  body.dark-mode #volunteer-form #cs-form textarea {
    background-color: transparent;
    color: var(--bodyTextColorWhite);
  }

  body.dark-mode #volunteer-form #cs-form label::placeholder,
  body.dark-mode #volunteer-form #cs-form input::placeholder,
  body.dark-mode #volunteer-form #cs-form textarea::placeholder {
    /* lighten up the color of the text by 40%*/
    filter: brightness(1.4);
  }

  body.dark-mode #volunteer-form .cs-bg-picture {
    background-color: #000;
  }
  body.dark-mode #volunteer-form .cs-bg-picture img {
    /* lets parent background-color bleed through and darken it */
    opacity: .75;
  }
}

input[type=checkbox] {
  accent-color: var(--primary);
}

h1 {
  font-weight: 900;
}

h4 {
  margin: 15px 0 4px;
}

table input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 1.2rem;
}

input:hover,
textarea:hover {
  outline: none;
  border: 1px solid #095484;
}

th,
td {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: unset;
  line-height: 18px;
  font-weight: 100;
  word-break: break-all;
}

.first-col {
  width: 80px;
  text-align: left;
}

table {
  width: 100%;
  padding-bottom: 20px;
}

.preferred-contact {
  display: flex;
}
.preferred-contact div {
  padding: 5px 20px;
}

.preferred-contact input[type=checkbox] {
  width: 100%;
  height: 16px;
}

@media (min-width: 568px) {

  th,
  td {
    word-break: keep-all;
  }
}