/*-- -------------------------- -->
<---          Reviews   1       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {

    #reviews {
        /* Centers the button */
        text-align: center;
        padding: 60px 1rem;

        .cs-container {
            width: 100%;
            max-width: 1104/16rem;
            margin: auto;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: 16/16rem;
            display: block;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            max-width: 700/16rem;
            margin: 0 auto 16/16rem;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 650/16rem;
            margin: 0 auto;
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            padding: 0;
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: 542/16rem;
            margin: 0 auto 64/16rem;
            /* Padding L & R - 16px - 32px */
            padding: 60/16rem clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: 4/16rem;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            width: 80/16rem;
            height: 80/16rem;
            position: absolute;
            top: -40/16rem;
        }

        .cs-item-p {
            font-size: 16/16rem;
            line-height: 1.5em;
            margin: 0 0 20/16rem;
            padding-bottom: 20/16rem;
            color: var(--bodyTextColor);
            border-bottom: 1px solid #E8E9EC;
        }

        .cs-reviewer {
            font-size: 16/16rem;
            line-height: 1.5em;
            font-weight: 700;
            width: 40%;
            margin: 0 auto 0 0;
            display: block;
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: 14/16rem;
            font-weight: 400;
            color: var(--label);
            display: block;
        }

        .cs-item-stars {
            width: 96/16rem;
            height: 16/16rem;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #reviews {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16/16rem;
        }

        .cs-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #reviews {

            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-reviewer {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--medium);
            }

            // .cs-desc {
            //     color: var(--primaryLight);
            // }
        }
    }
}

/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #reviews {
        // padding-top: 120/16rem;
        padding-bottom: 50/16rem;
        margin: auto;

        .container {
            width: 96%;
            max-width: 1320/16rem;
        }

        .review {
            padding: 64/16rem 30/16rem 18/16rem 30/16rem;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            width: 100%;
            max-width: 410/16rem;
            margin: auto;
            margin-bottom: 100/16rem;
            border-radius: 5/16rem;
            position: relative;
            background: #fff;
            display: flex;
            flex-direction: column;
            &:last-of-type {
                margin-bottom: 0;
            }

            .profile {
                display: block;
                height: 99/16rem;
                width: 99/16rem;
                margin-left: 0;
                border-radius: 50%;
                margin-bottom: 16/16rem;
                position: absolute;
                left: 30/16rem;
                top: -51/16rem;
            }

            p {
                line-height: 24/18;
                margin-bottom: 28/16rem;
                text-align: left;
            }

            .star-group {
                border-top: 1px solid #E7E7E7;
                padding-top: 16/16rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                margin-top: auto;

                .name {
                    color: #1A1A1A;
                    line-height: 24/16rem;
                    text-align: left;
                    font-weight: bold;
                    display: block;
                }

                .desc {
                    color: #575757;
                    font-weight: 400;
                    display: block;
                }

                img {
                    display: block;
                    width: 91/16rem;
                    height: 15/16rem;
                    margin: 0;
                }
            }
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48em) {

    #reviews {
        // padding-top: 150/16rem;
        padding-bottom: 50/16rem;
        
        .container {
            font-size:~"min(1.4vw, 1em)";
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0;
            column-gap: 30/16rem;
        }

        .review {
            margin: 0;
            margin-bottom: 150/16rem;

            &:last-of-type {
                margin-bottom: 150/16rem;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #reviews {
            .review {
                background: var(--medium);

                .name {
                    color: #fff;
                }

                .desc {
                    color: #fff;
                    opacity: .7;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #cta {
        position: relative;
        padding: 50/16rem 0;

        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: #000;
            opacity: .4;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .container {
            text-align: center;
        }

        picture {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .title {
            font-weight: 900;
            font-size:~"min(9vw, 3rem)";
            line-height: 58/48;
            color: #fff;
            position: relative;
            margin-bottom: 36/16rem;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            opacity: 1;
            margin: auto;
            margin-bottom: 36/16rem;
            width: 96%;
            max-width: 598/16rem;

        }
    }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
    #cta {
        padding: 168/16rem 0;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    #cta {
        position: relative;
        margin-top: 100/16rem;
        &:before {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1108/16rem;
            width: 2000/16rem;
            background: url("..assets/images/cta-squares.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -3;
         }
        .container {
            width: 90.0625%;
            margin: auto;
        }

        picture {
            width: 90.0625%;
            left: 50%;
            transform: translateX(-50%);

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: .7;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #cta {
            &:after {
                display: none;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {

    .services {
        border-radius: 5/16em;
        margin: auto;
        margin-top: -167/16em;
        position: relative;
        z-index: 100;
        background: #fff;
        width: 90%;
        max-width: 1320/16em;
        padding: 50/16em 20/16em;
        border-top: 6/16em solid var(--primary);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        margin-bottom: 5.125em;

        .card {
            display: block;
            width: 100%;
            max-width: 357/16em;
            margin: auto;
            margin-bottom: 50/16em;

            &:last-of-type {
                margin-bottom: 0;
            }

            picture {
                background: #ffffff;
                width: 6.5em;
                height: 6.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 23/16em;
                border-radius: 50%;

                img {
                    width: 6em;
                    height: 6em;
                }
            }

            h2 {
                text-align: center;
                font-size: 32/16em;
                line-height: 27/20em;
                font-weight: 700;
                color: #1a1a1a;
                margin-bottom: 13/20em;
            }

            p {
                text-align: center;
                line-height: 24/18em;
                width: 100%;
                opacity: .7;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        font-size: ~"min(1.8vw, 1em)";
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;

        .card {
            margin: 0;
            max-width: 325/16em;
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: 50/16em 80/16em;

        .card {
            max-width: 357/16em;
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: #ffffff;
            }

            h2 {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {

    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: 1280/16rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 40/16rem;
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: 631/16em;
            height: 636/16em;
            position: relative;
        }

        .cs-picture {
            border-radius: 24/16em;
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: 522/16em;
            height: 581/16em;
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: 414/16em;
            height: 400/16em;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(.375em, 1.5vw, .75em) solid #fff;
            right: 0;
            bottom: 0;
        }

        .cs-right {
            margin: auto;
            max-width: 542/16rem;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: 4/16rem;
            display: block;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: left;
            max-width: 800/16rem;
            margin: 0 auto 16/16rem;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: left;
            width: 100%;
            max-width: 750/16rem;
            margin: 0 auto;
            margin-bottom: 16/16rem;
            color: var(--bodyTextColor);

            &:last-of-type {
                margin-bottom: 32/16rem;
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #F7F7F7;
            border-radius: 16/16rem;
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 16/16rem;
            color: #767676;
        }

        .cs-name {
            font-size: 16/16rem;
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 4/16rem;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: 14/16rem;
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: 0/16rem;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .button-solid {
            margin-top: 32/16rem;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: 52/16rem;
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs {

            .cs-left {

                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(.375em, 1.5vw, .75em) solid var(--dark);
            }

            // .cs-topper {
            //     color: var(--primaryLight)
            // }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: .8;
            }

            .cs-quote-icon {
                opacity: .2;
            }
        }
    }
}

/*-- -------------------------- -->
<---    Volunteer Contact       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    :root {
        /* 13px - 16px */
        --topperFontSize: clamp(.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
        --bodyFontSize: 16/16rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: 30px 0;
    }

    #cs-contact {
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: 0 20px 100px;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: 800/16rem;
            margin: auto;
        }

        .cs-content {
            width: 100%;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            /* 8px - 12px */
            margin-bottom: clamp(.5rem, 1.4vw, .75rem);
            display: block;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: left;
            max-width: 800/16rem;
            margin: 0 auto 16/16rem 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: left;
            width: 100%;
            /* 404px - 522px */
            max-width: clamp(25.25rem, 30vw, 32.625rem);
            margin: 0 auto 0 0;
            /* 40px - 48px */
            margin-bottom: 30px 0;
            color: var(--bodyTextColor);
        }

        #cs-form {
            margin-bottom: 40/16rem;

            label {
                font-size: 16/16rem;
                line-height: 1.5em;
                font-weight: 700;
                /* 12px - 20px */
                margin-bottom: clamp(.75rem, 1.3em, 1.25rem);
                color: var(--headerColor);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
            }


            input,
            textarea {
                font-size: 16/16rem;
                width: 100%;
                height: 64/16rem;
                margin-top: 4/16rem;
                padding-left: 20/16rem;
                border: 1px solid #B4B2C7;
                border-radius: 8/16rem;
                /* prevents border & padding from affecting height */
                box-sizing: border-box;
                transition: border .3s;

                &:hover {
                    border: 1px solid var(--primary);
                }
            }

            textarea {
                font-family: inherit;
                padding-top: 20/16rem;
                min-height: 120/16rem;
            }

            .cs-button-solid {
                width: 100%;
            }
        }

        .cs-button-solid {
            font-size: 16/16rem;
            line-height: 56/16rem;
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #1a1a1a;
            min-width: 150/16rem;
            padding: 0 24/16rem;
            background-color: var(--primary);
            border: none;
            border-radius: 4/16rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 4/16rem;
                transition: width .3s;
            }

            &:hover {
                color: var(--bodyTextColorWhite);
                cursor: pointer;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-right-section {
            position: relative;
            height: 320/16rem;
            /* 24px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
            border-radius: 8/16rem;
            /* cuts off corners on img tag */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .cs-header {
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: 8/16rem;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            text-decoration: none;
            margin-bottom: 20/16rem;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;

            &:before {
                /* Animated underline */
                content: '';
                width: 0%;
                height: 2px;
                /* current color of the parent */
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -2/16rem;
                left: 0;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-block {
            /* sends second address line to the bottom on its own line */
            display: block;
        }

        .cs-bg-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: transform .6s;
            background-color: #000;
            opacity: .2;

            &:before {
                /* background color overlay */
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
    #cs-contact {
        #cs-form {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            label {
                width: 48%;
            }

            .cs-label-message {
                width: 100%;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #cs-contact {
        .cs-container {
            max-width: 1280/16rem;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 80/16rem;
        }

        #cs-form {
            max-width: 630/16rem;

            label {
                width: 100%;
            }
        }

        .cs-right-section {
            /* changes to 578px at 1300px wide */
            height: 686/16rem;
            width: 40%;
            max-width: 542/16rem;
            /* prevents flexbox from squishing it */
            flex: none;

            &:hover {
                .cs-bg-picture {
                    transform: scale(1.1);
                }
            }
        }

        .cs-block {
            /* goes back to inline so it stays "in line" with the rest of the text */
            display: inline-block;
        }
    }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
    #cs-contact {
        #cs-form {
            column-gap: 0/16rem;

            label {
                max-width: 305/16rem;
            }

            .cs-label-message {
                max-width: 100%;
            }
        }

        .cs-right-section {
            height: 578/16rem;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #cs-contact {

            .cs-text,
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            #cs-form {

                label,
                input,
                textarea {
                    background-color: transparent;
                    color: var(--bodyTextColorWhite);

                    &::placeholder {
                        /* lighten up the color of the text by 40%*/
                        filter: brightness(1.4);
                    }
                }
            }

            .cs-bg-picture {
                background-color: #000;

                img {
                    /* lets parent background-color bleed through and darken it */
                    opacity: .5;
                }
            }
        }
    }
}

input[type=checkbox] {
    accent-color: var(--primary);
}

h1 {
    font-weight: 400;
}

h4 {
    margin: 15px 0 4px;
}

table input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 1.2rem;
}

input:hover,
textarea:hover {
    outline: none;
    border: 1px solid #095484;
}

th,
td {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 100;
    word-break: break-all;
}

.first-col {
    width: 80px;
    text-align: left;
}

table {
    width: 100%;
    padding-bottom: 20px;
}
.preferred-contact {
    display: flex;
}

.preferred-contact div {
    padding: 5px 20px;
}
.preferred-contact input[type=checkbox] {
    width: 100%;
    height: 16px;
}

@media (min-width: 568px) {

    th,
    td {
        word-break: keep-all;
    }
}